div#gameInterior {
    display: flex;
    flex-flow: column;
    height: calc(100% - 40px);
    padding: 20px;
    overflow: hidden;
}

div#gameOtherPlayerArea {
    flex: 0 0 20%;
}

div#gameSharedArea {
    flex: 0 0 20%;
    display: flex;
    justify-content: space-evenly;
}

#gamePlayArea {
    flex: 0 0 20%;
}

div#gameMyArea {
    flex: 0 0 40%;
}

.gamePlayerArea {
    display: flex;
}

div#gamePlayAreaCards {
    flex: 1;
    display: flex;
    justify-content: center;
}

div#gameTradeRow {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.gameCard {
    height: 140px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 105px
}
.gameCard.gameCardBack {
    background: black;
    color: white;
}

.gameCard.gameCardDeck {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}

.gameHand {
    display: flex;
    justify-content: center;
    flex: 1;
}

.gameHand .gameCard {
    margin: 0px 5px;
}

#gameMyArea.gameMyTurn .gameHand .gameCard {
    cursor: pointer;
}

#gameTradeRow .gameCard.gameCardClickable {
    cursor: pointer;
}

button#gameHome {
    position: absolute;
    height: 40px;
    left: 10px;
    top: 10px;
}

.gameCard.gameCardClickable {
    border: 2px solid blue;
}

.gameCardAttributeRow {
    display: flex;
    justify-content: space-evenly;
}

.gameBases {
    overflow: auto;
    max-height: 175px;
}