div#gameInterior {
    display: flex;
    flex-flow: column;
    height: calc(100% - 40px);
    padding: 20px;
    overflow: hidden;
}

div#gameOtherPlayerArea {
    flex: 0 0 20%;
}

div#gameSharedArea {
    flex: 0 0 20%;
    display: flex;
    justify-content: space-evenly;
}

#gamePlayArea {
    flex: 0 0 20%;
}

div#gameMyArea {
    flex: 0 0 40%;
}

.gamePlayerArea {
    display: flex;
}

div#gamePlayAreaCards {
    flex: 1;
    display: flex;
    justify-content: center;
}

div#gameTradeRow {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

#gameShowBigCard .gameCard {
    height: 420px;
    width: 315px;
}

.gameCard {
    height: 140px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 105px;
    position:relative;
}
.gameCard.gameCardBack {
    background: black;
    color: white;
}

.gameCard.gameCardDeck {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}

.gameHand {
    display: flex;
    justify-content: center;
    flex: 1;
}

.gameHand .gameCard {
    margin: 0px 5px;
}

#gameMyArea.gameMyTurn .gameHand .gameCard {
    cursor: pointer;
}

#gameTradeRow .gameCard.gameCardClickable {
    cursor: pointer;
}

button#gameHome {
    position: absolute;
    height: 40px;
    left: 10px;
    top: 10px;
}
.gameCard.gameCardClickable:hover {
    top: -5px;
}

.gameCard.gameCardClickable {
    border: 2px solid blue;
    top: 0px;
    transition: all .3s ease;
}

.gameCardAttributeRow {
    display: flex;
    justify-content: space-evenly;
}

.gameBases {
    overflow: auto;
    max-height: 175px;
}

.gameCardTargetReticleContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameCardTargetReticle {
    width: 80px;
    user-select: none;
}

#gameOtherDeck {
    position: relative;
    cursor: pointer;
}

#gameOtherBases .gameCard {
    cursor: pointer;
}

div#gameChatBox {
    min-height: 200px;
    border: 1px solid black;
    padding: 10px;
}

p.gameChatLine.gameChatLineOther {
    color: red;
}

p.gameChatLine.gameChatLineMine {
    color: blue;
}

#gameChat {
    flex: 0 0 200px;
    margin: 10px 0px;
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
}

div#gameShowCards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.baseRotate {
    transform: rotate(-90deg);
}

.bigCardTrashArea {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 30px;
    bottom: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.bigCardTrashArea:hover {
    background: rgba(255,10,20,.5);
}