.card {
    background: black;
    border: 1px solid black;
    width: 120px;
    height: 180px;
    border-radius: 5px;
    font-size: 12px;
}

.card.flipped {
    background: white;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.attack {
    color: red;
}
.trade {
    color: black;
}
.health {
    color:green;
}