.game-board {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.tradeRowFlipped {
    flex: 1;
}

.tradeRow {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.tradeRowDraw {
    margin: 0px 30px;
}